/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.tkt_sei_box{
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}
.tkt_sei_field{
    display: contents;
}